{% extends 'base.html.twig' %}

{% block title %}Blog Home{% endblock %}

{% block body %}

<main class="container">
    <div class="detail">
        <a href="/">Go Back</a>

        <h1>Details of: <span> {{post.title|upper}} </span> </h1>
        <hr>

        <h4>Author: {{ post.author }}</h4>
        <h5>The {{ post.createdAt|date("d/m/y") }}</h5>
        <p>{{ post.content }}</p>
        <hr>
        <img src="https://loremflickr.com/240/120?random ~ {{post.id}}" alt="">
        <hr>
        <h4>{{post.comments|length}} Comments</h4>
        {% for com in post.comments %}

        <p> {{com.content|slice(0,60)}} ... <br>
            <span>Posted by {{com.author}}</span>
        </p>

        {% endfor %}
    </div>
    
    {{form_start(form)}}
    {{form_widget(form)}}
    <button id="send-com" type="submit">Comment</button>
    {{form_end(form)}}

</main>
{% endblock %}
