{% extends 'base.html.twig' %}

{% block title %}Blog Home{% endblock %}

{% block body %}

<main class="container">

    
    <div class="posts-wrapper">
        {% for key, post in posts %}
        <div class="post">
            <h1> {{ post.title }}! </h1>
            <h4>By {{ post.author }}</h4>
            <h5>The {{ post.createdAt|date("d/m/y") }}</h5>
            <p>{{ post.content }}</p>
            <hr>
            <img src="https://loremflickr.com/280/160?random= ~ {{key}}" alt="">
            <hr>
            <div class="comments">
                <h4>{{post.comments|length}} Comments</h4>
            </div>
            <a href="{{path('detail', { id: post.id})}}">Details </a>
        </div>    
        {% endfor %}
    </div>

</main>
{% endblock %}
