{% extends 'base.html.twig' %}

{% block title %}Blog Home{% endblock %}

{% block body %}

<main class="container">
    <div class="posts-wrapper">
        {% for key, post in posts %}
        <div class="post">
            <h2> {{ post.title }}! {{post.id}}</h2>
            <h4>By {{ post.author }}</h4>
            <h5>The {{ post.createdAt|date("d/m/y") }}</h5>
            <p>{{ post.content }}</p>
            <hr>
            {# <img src="https://loremflickr.com/280/160?random= ~ {{key}}" alt=""> #}
            <img src="{{asset(post.image)}}" alt="{{post.title}}" width="280">
            <hr>
            {% if post.comments %}
            <div class="comments">
                <h4>{{post.comments|length}} Comments</h4>
            </div>
            {% endif %}
            <div class="link d-flex justify-content-around">
                <a href="{{path('detail', { id: post.id})}}" class="detail-link">Details </a>

                {% if is_granted('edit', post) %}
                    <a href="{{path('update', {id: post.id})}}" class="update-btn btn btn-primary">Update</a>
                {% endif %}
            </div>
        </div>    
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

</main>
{% endblock %}
