<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
    </head>
    <body>
        <nav>
            
            {% if is_granted('ROLE_USER') %}
            <a href="{{path('home')}}">Home</a>
            <a href="{{path('publish')}}">Create a New Article</a>
            <div class="row">
                <span class="text-white mr-3">Logged as {{app.user.pseudo}}</span>
                <a href="{{path('logout')}}" class="btn btn-danger">Logout</a>
            </div>
            {% else %}
            <a href="{{path('login')}}">Login</a>
            <a href="{{path('registration')}}">Register</a>
            {% endif %}
            
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
